[Unit]
Description=Flanneld overlay address etcd agent
After=network.target
After=network-online.target
Wants=network-online.target
After=etcd.service
Before=docker.service

[Service]
Type=notify
ExecStart=/opt/flanneld/{{ flanneld_version }}/bin/flanneld \
        -etcd-endpoints={{ etcd_hosts }} \
        -ip-masq=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
