{
  "kind": "Pod",
  "apiVersion": "v1",
  "metadata": {
    "name": "kube-controller-manager",
    "namespace": "kube-system"
  },
  "spec": {
    "hostNetwork": true,
    "containers": [
      {
        "name": "kube-controller-manager",
        "image": "{{ kube_hyperkube_image }}",
        "command": [
          "/hyperkube",
          "controller-manager",
          "--cluster-name={{ kube_cluster_name }}",
          "--cluster-cidr={{ cluster_cidr }}",
          "--service-account-private-key-file=/etc/kubernetes/ssl/server.key",
          "--root-ca-file=/etc/kubernetes/ssl/ca.crt",
          "--master=127.0.0.1:8080"
        ],
        "volumeMounts": [
          {
            "name": "etckube",
            "mountPath": "/etc/kubernetes",
            "readOnly": true
          },
          {
            "name": "etcssl",
            "mountPath": "/etc/ssl",
            "readOnly": true
          }
        ],
        "livenessProbe": {
          "httpGet": {
            "scheme": "HTTP",
            "host": "127.0.0.1",
            "port": 10252,
            "path": "/healthz"
          },
          "initialDelaySeconds": 15,
          "timeoutSeconds": 15
        }
      }
    ],
    "volumes": [
      {
        "name": "etckube",
        "hostPath": {
          "path": "/etc/kubernetes"
        },
        "readOnly": true
      },
      {
        "name": "etcssl",
        "hostPath": {
          "path": "/etc/ssl"
        }
      }
    ]
  }
}
