[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

[Service]
ExecStart=/opt/kubernetes/server/bin/kube-proxy \
    --master=https://{{ "127.0.0.1" if ansible_vpn0["ipv4"]["address"] == kube_master_ip else kube_master_ip }} \
    --kubeconfig=/var/lib/kube-proxy/kubeconfig \
    --cluster-cidr={{ cluster_cidr }}
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
