---
- name: "Packages - apt-get upgrade"
  apt:
    upgrade: yes
    update_cache: yes

- name: "Packages - Admin convienence packages"
  package:
    name:
      - mosh
      - bridge-utils
      - aptitude
      - fail2ban
      - nfs-common
      - nload
    state: latest

- name: "Packages - GPG keys"
  ansible.builtin.get_url:
    url: "{{ item.key }}"
    dest: "{{ item.value }}"
  with_dict:
    "https://apt.releases.hashicorp.com/gpg": "/usr/share/keyrings/hashicorp-archive-keyring.asc"

- name: "Packages - Hashicorp repo"
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.asc] https://apt.releases.hashicorp.com {{ ansible_distribution_release }} main"
    filename: hashicorp
    state: present

- name: "Packages - apt-get update"
  apt:
    update_cache: yes

- name: "Packages - Misc cluster packages"
  apt:
    name:
      - ceph-common
    state: latest
  when: appserver_packages
