*.retry
*.pyc
.gitsecret/keys/random_seed
.env
infrastructure/other/discourse/discourse_data.yml
infrastructure/other/discourse/discourse_web.yml
infrastructure/other/gitlab_runner_ssh_key
infrastructure/docker_swarm/logging/docker-swarm.yml
infrastructure/docker_swarm/registry/docker-swarm.yml
infrastructure/docker_swarm/sentry/.secret_env
infrastructure/provision_ansible/inventory/nepeat_hosts

# Language garbage
node_modules/
*.egg-info
infrastructure/docker_swarm/pleroma/config/secret.exs
infrastructure/docker_swarm/zabbix/.env_db_pgsql
