[submodule "services/mailapis"]
	path = services/mailapis
	url = git@github.com:general-programming/mailapis.git
[submodule "services/svg-render-server"]
	path = services/svg-render-server
	url = git@github.com:general-programming/svg-render-server.git
