# Python
env/
venv/
.env
__pycache__/
*.pyc
*.egg-info/

# Node
node_modules/
web/

# Misc / env
.idea/
.vscode/
.direnv/
.envrc
.env
*.retry

# Gitsecret
.gitsecret/keys/random_seed
.direnv/
infrastructure/other/discourse/discourse_data.yml
infrastructure/other/discourse/discourse_web.yml
infrastructure/other/gitlab_runner_ssh_key
infrastructure/docker_swarm/registry/docker-swarm.yml
infrastructure/docker_swarm/sentry/.secret_env
infrastructure/ansible/inventory/nepeat_hosts

# Language garbage
node_modules/
*.egg-info
infrastructure/docker_swarm/pleroma/config/secret.exs
infrastructure/docker_swarm/zabbix/.env_db_pgsql
serverless/twilio-discordhook/.envrc
.envrc_secret
infrastructure/docker_swarm/logging/.env_oauth
infrastructure/docker_swarm/logging/.env_grafana
infrastructure/docker_swarm/dex/config.yaml
infrastructure/docker_swarm/traefik/traefik_users.passwd
infrastructure/docker_swarm/sentry/config.yml
infrastructure/pyinfra/files/pissnet/secret.conf
infrastructure/docker_swarm/sentry/sentry.conf.py

# terraform
.terraform
terraform.tfvars
terraform.tfstate*
infrastructure/docker_swarm/traefik/config-fmt2/traefik.yml
infrastructure/docker_swarm/logging/alertmanager.yml
