#!/bin/sh

# {{ ansible_managed }}

VPN_VMBR_FOUND=`grep "vmbr1:" /proc/net/dev`

if  [ -n "$VPN_VMBR_FOUND" ] ; then
    brctl delif vmbr1 $INTERFACE
    ifconfig $INTERFACE down
else
    ifconfig $INTERFACE down
fi
