vault_key: {{ vault_salt_key.data.data.data.key }}
{% if sites is defined %}
sites: {{ sites | to_json }}
{% else %}
sites: []
{% endif %}
{% if tags is defined %}
tags: {{ tags | to_json }}
{% else %}
tags: []
{% endif %}