user: salt
pki_dir: /etc/salt/pki

fileserver_backend:
  - git

gitfs_base: main
gitfs_root: salt/state

gitfs_remotes:
  - https://github.com/general-programming/megarepo.git

ext_pillar:
  - git:
    - __env__ https://github.com/general-programming/megarepo.git:
      - root: salt/pillar