user: salt
pki_dir: /etc/salt/pki
log_level: info

# auth
autosign_grains_dir: /etc/salt/autosign_grains

# state config
fileserver_backend:
  - git
gitfs_base: main
gitfs_root: salt/state
gitfs_remotes:
  - https://github.com/general-programming/megarepo.git

# pillar config
pillarenv_from_saltenv: true
top_file_merging_strategy: same
ext_pillar:
  - git:
    - main https://github.com/general-programming/megarepo.git:
      - root: salt/pillar
      - env: base
