vault {
    address = "{{ vault_url }}"
}

auto_auth {
   method "approle" {
       mount_path = "auth/approle"
       config = {
           role_id_file_path = "/opt/vault/approle_id"
           secret_id_file_path = "/opt/vault/approle_secret"
           remove_secret_id_file_after_reading = false
       }
   }

   sink "file" {
       config = {
           path = "/opt/vault/agent-token"
       }
   }
}

storage "file" {
    path = "/opt/vault/data"
}

cache {
    use_auto_auth_token = true
}

listener "tcp" {
    address = "127.0.0.1:8100"
    tls_disable = true
}
