- hosts: all
  strategy: free
  roles:
    - role: update_configs
    - role: setup_cluster_network
    - role: setup_consul_template
    - role: setup_cluster_vault_agent
    - role: setup_nomad
    - role: update_firewall
  vars_files:
    - /tmp/infra_vars.json
