{% if consul_server -%}
server = true
bootstrap_expect = 3

auto_encrypt {
  allow_tls = true
}
{% else -%}
server = false
{% endif -%}

datacenter = "{{ consul_datacenter }}"
data_dir = "/opt/consul"
client_addr = "127.0.0.1"
{% raw %}
bind_addr = "{{ GetPrivateInterfaces | include \"network\" \"10.0.0.0/8\" | attr \"address\" }}"
{% endraw %}
retry_join = {{ consul_servers }}

ports {
  https = 8501
}

// TLS
tls {
  defaults {
    ca_file = "/etc/consul.d/ca.crt"
    cert_file = "/etc/consul.d/server.crt"
    key_file = "/etc/consul.d/server.key"
    verify_incoming = true
    verify_outgoing = true
  }

  internal_rpc {
    verify_server_hostname = true
  }
}