template {
    source = "/etc/consul-template/templates/consul/server-ca.tpl"
    destination = "/etc/consul.d/ca.crt"
    command = "/bin/bash -c 'systemctl reload consul || true'"
}

template {
    source = "/etc/consul-template/templates/consul/server-cert.tpl"
    destination = "/etc/consul.d/server.crt"
    perms = "0700"
    command = "/bin/bash -c 'systemctl reload consul || true'"
}

template {
    source = "/etc/consul-template/templates/consul/server-key.tpl"
    destination = "/etc/consul.d/server.key"
    perms = "0700"
    command = "/bin/bash -c 'systemctl reload consul || true'"
}
