hostname {{ device.hostname }}

aaa new-model

tacacs-server host {{ secrets.tacacs_host }} key {{ secrets.tacacs_key }}

aaa authentication login default group tacacs+ local
aaa authentication enable default group tacacs+ enable

aaa authorization exec default group tacacs+ local
aaa authorization commands 0 default group tacacs+
aaa authorization commands 1 default group tacacs+
aaa authorization commands 15 default group tacacs+

aaa accounting exec default start-stop group tacacs+
aaa accounting commands 0 default start-stop group tacacs+
aaa accounting commands 1 default start-stop group tacacs+
aaa accounting commands 15 default start-stop group tacacs+

{% for interface in device.interfaces %}
    {% if interface["cable"] %}
        {% set description =  interface["cable"]["_termination_a_device"]["name"] + " -> " + interface["cable"]["_termination_b_device"]["name"] %}
    {% else %}
        {% set description = interface["description"] or "" %}
    {% endif %}
    {% if interface["type"] == "LAG" %}
        {% set interface_name =  "Port-Channel" + interface["name"] %}
    {% else %}
        {% set interface_name = interface["name"] %}
    {% endif %}
interface {{ interface_name }}
    {% if interface["type"] == "VIRTUAL" %}
    {% elif interface["mode"] == "ACCESS" %}
    switchport mode access
        {% if interface.untagged_vlan %}
    switchport access vlan {{ interface["untagged_vlan"]["vid"] }}
        {% endif %}
    {% elif interface["mode"] == "TAGGED_ALL" %}
    switchport mode trunk {% if interface.untagged_vlan %}native vlan {{ interface["untagged_vlan"]["vid"] }}{% endif %}

    {% elif interface["mode"] == "TAGGED" %}
    switchport mode trunk {% if interface.untagged_vlan %}native vlan {{ interface["untagged_vlan"]["vid"] }}{% endif %}

    {% endif %}
    {% if interface["lag"] %}
    channel-group {{ interface["lag"]["name"] }} mode active
    {% endif %}
    {% if description %}
    description {{ description }}
    {% endif %}
    {% if interface.ip_addresses %}
    ip address {{ interface.ip_addresses[0].address }}
    {% endif %}
    {% if interface["mode"] is not in ["ACCESS", "TAGGED", "TAGGED_ALL"] %}
    shutdown
    {% else %}
    no shutdown
    {% endif %}
!
{% endfor %}