hostname {{ device.hostname }}

aaa new-model

tacacs-server key {{ device.tacacs_key }}
aaa group server tacacs consul
{% for server in device.tacacs_servers %}
    server {{ server }}
{% endfor %}
!

{% for server in device.tacacs_servers %}
tacacs-server host {{ server }}
{% endfor %}

aaa authentication login default group consul local
aaa authentication enable default group consul enable

aaa authorization exec default group consul local
aaa authorization commands 0 default group consul local
aaa authorization commands 1 default group consul local
aaa authorization commands 15 default group consul local

aaa accounting exec default start-stop group consul
aaa accounting commands 0 default start-stop group consul
aaa accounting commands 1 default start-stop group consul
aaa accounting commands 15 default start-stop group consul

{% for interface in device.interfaces %}
    {% if interface.cable %}
        {% set description = interface.cable %}
    {% else %}
        {% set description = interface["description"] or "" %}
    {% endif %}
interface {{ interface.cisco_name }}
    {% if interface.is_vlan %}
    {% elif interface.is_access %}
    switchport mode access
        {% if interface.untagged_vlan %}
    switchport access vlan {{ interface["untagged_vlan"]["vid"] }}
        {% endif %}
    {% elif interface.is_trunk %}
    switchport mode trunk {% if interface.untagged_vlan %}native vlan {{ interface["untagged_vlan"]["vid"] }}{% endif %}

    {% endif %}
    {% if interface.lag_id %}
    channel-group {{ interface.lag_id }} mode active
    {% endif %}
    {% if description %}
    description {{ description }}
    {% endif %}
    {% if interface.address %}
    ip address {{ interface.address }}
    {% endif %}
    {% if interface.enabled %}
    no shutdown
    {% else %}
    shutdown
    {% endif %}
!
{% endfor %}