set system host-name '{{ device.hostname }}'
set system domain-name '{{ global_meta.search_domain }}'
set system login user supertech authentication plaintext-password '{{ device.admin_password }}'
set service snmp community '{{ global_meta.snmp_public }}' authorization 'ro'
{% if device.snmp_location %}
set service snmp location '{{ device.snmp_location }}'
{% endif %}
set service snmp contact '{{ global_meta.snmp_contact }}'
{# set service ssh listen-address {{ device.management_ip }} #}
{% for dns_server in device.nameservers %}
set system name-server '{{ dns_server }}'
{% endfor %}
{% for interface in device.interfaces %}
    {# DHCP interfaces. #}
    {% if interface.dhcp %}
{{ device.interface_prefix(interface) }} address dhcp
    {% endif %}
    {# Interface IP #}
    {% if interface.address %}
{{ device.interface_prefix(interface) }} address {{ interface.address.with_prefixlen }}
    {% endif %}
    {# Interface MTU. #}
    {% if interface.mtu %}
{{ device.interface_prefix(interface) }} mtu {{ interface.mtu }}
    {% endif %}
    {% if interface.description %}
{{ device.interface_prefix(interface) }} description '{{ interface.description }}'
    {% endif %}
{% endfor %}

set service ssh disable-password-authentication
{% for ssh_key in global_meta.ssh_keys %}
set system login user supertech authentication public-keys {{ ssh_key.split(" ")[2] }} key {{ ssh_key.split(" ")[1] }}
set system login user supertech authentication public-keys {{ ssh_key.split(" ")[2] }} type {{ ssh_key.split(" ")[0] }}
{% endfor %}