set system host-name '{{ device.hostname }}'
set system domain-name '{{ global_meta.search_domain }}'
set system login user vyos authentication plaintext-password '{{ secrets.password }}'
set service snmp community '{{ global_meta.snmp_public }}' authorization 'ro'
{% if device.snmp_location %}
set service snmp location '{{ device.snmp_location }}'
{% endif %}
set service snmp contact '{{ global_meta.snmp_contact }}'
{# set service ssh listen-address {{ device.management_ip }} #}
{% for dns_server in device.nameservers %}
set system name-server '{{ dns_server }}'
{% endfor %}
{% for interface in device.interfaces %}
    {% if interface.vlan %}
        {% set set_string = 'set interfaces ethernet ' + interface.name + ' vif ' + interface.vlan %}
    {% else %}
        {% set set_string = 'set interfaces ethernet ' + interface.name %}
    {% endif %}
    {# DHCP interfaces. #}
    {% if interface.dhcp %}
{{ set_string }} address dhcp
    {% endif %}
    {# Interface IP #}
    {% if interface.address %}
{{ set_string }} address {{ interface.address }}/{{ interface.netmask }}
    {% endif %}
    {# Interface MTU. #}
    {% if interface.mtu %}
{{ set_string }} mtu {{ interface.mtu }}
    {% endif %}
    {% if interface.description %}
{{ set_string }} description '{{ interface.description }}'
    {% endif %}
{% endfor %}