set system host-name '{{ device.hostname }}'
set system domain-name '{{ global_meta.search_domain }}'
set system login user supertech authentication plaintext-password '{{ device.admin_password }}'
set service snmp community '{{ global_meta.snmp_public }}' authorization 'ro'
{% if device.snmp_location or global_meta.snmp_location %}
set service snmp location '{{ device.snmp_location or global_meta.snmp_location }}'
{% endif %}
set service snmp contact '{{ global_meta.snmp_contact }}'
{# set service ssh listen-address {{ device.management_ip }} #}
{% for dns_server in device.nameservers %}
set system name-server '{{ dns_server }}'
{% endfor %}

set system syslog local facility all level info
set system syslog local facility local7 level debug

{# NTP: serve time to internal ranges only (the VyOS factory default);
   the pre-chrony installs shipped with 0.0.0.0/0 + ::/0. #}
{% for allow in ["10.0.0.0/8", "127.0.0.0/8", "169.254.0.0/16", "172.16.0.0/12", "192.168.0.0/16", "::1/128", "fc00::/7", "fe80::/10"] %}
set service ntp allow-client address {{ allow }}
{% endfor %}
{% for ntp_server in ["time1.vyos.net", "time2.vyos.net", "time3.vyos.net"] %}
set service ntp server {{ ntp_server }}
{% endfor %}
{% for interface in device.interfaces %}
    {# DHCP interfaces. #}
    {% if interface.dhcp %}
{{ device.interface_prefix(interface) }} address dhcp
{{ device.interface_prefix(interface) }} ipv6 address autoconf
    {% endif %}
    {# Interface IPs, any mix of IPv4/IPv6. #}
    {% for addr in interface.addresses %}
{{ device.interface_prefix(interface) }} address {{ addr.with_prefixlen }}
    {% endfor %}
    {# Interface MTU. #}
    {% if interface.mtu %}
{{ device.interface_prefix(interface) }} mtu {{ interface.mtu }}
    {% endif %}
    {% if interface.description %}
{{ device.interface_prefix(interface) }} description '{{ interface.description }}'
    {% endif %}
{% endfor %}

set service ssh disable-password-authentication
{% for ssh_key in global_meta.ssh_keys %}
set system login user supertech authentication public-keys {{ ssh_key.split(" ")[2] }} key {{ ssh_key.split(" ")[1] }}
set system login user supertech authentication public-keys {{ ssh_key.split(" ")[2] }} type {{ ssh_key.split(" ")[0] }}
{% endfor %}