{% include 'common/vyatta.j2' %}
set system update-check url https://raw.githubusercontent.com/vyos/vyos-nightly-build/refs/heads/rolling/version.json
set service ssh port 22
set protocols bfd profile bgp echo-mode
set protocols bfd profile bgp interval echo-interval 50
set service https api rest
set service https api keys id vaultadmin key '{{ secrets.vyos_api_password }}'

set firewall global-options all-ping enable
set firewall global-options broadcast-ping enable

set service ntp server time1.vyos.net
set service ntp server time2.vyos.net
set service ntp server time3.vyos.net
set service ntp allow-client address 10.0.0.0/8
set service ntp allow-client address 127.0.0.0/8
set service ntp allow-client address 169.254.0.0/16
set service ntp allow-client address 172.16.0.0/12
set service ntp allow-client address 192.168.0.0/16
set service ntp allow-client address ::1/128
set service ntp allow-client address fc00::/7
set service ntp allow-client address fe80::/10

{% for net in device.ospf.networks %}
set protocols ospf area {{ net.area }} network {{ net.network }}
{% endfor %}
{% for iface in device.ospf.interfaces %}
{% if iface.mtu_ignore %}
set protocols ospf interface {{ iface.name }} mtu-ignore
{% endif %}
{% endfor %}
{% for redist in device.ospf.redistribute %}
set protocols ospf redistribute {{ redist.protocol }}{% if redist.metric_type %} metric-type {{ redist.metric_type }}{% endif %}

{% endfor %}
{% for route in device.static_routes %}
{% if route.get("interface") %}
set protocols static route {{ route.network }} interface {{ route.interface }}
{% endif %}
{% if route.get("next-hop") %}
set protocols static route {{ route.network }} next-hop {{ route.get("next-hop") }}
{% endif %}
{% endfor %}

{% for rule in device.nat_masquerades %}
set nat source rule {{ rule.rule }} outbound-interface name {{ rule.interface }}
{% if rule.source %}
set nat source rule {{ rule.rule }} source address {{ rule.source }}
{% endif %}
{% if rule.destination %}
set nat source rule {{ rule.rule }} destination address {{ rule.destination }}
{% endif %}
set nat source rule {{ rule.rule }} translation address masquerade
{% endfor %}
{% for fwd in device.nat_port_forwards %}
set nat destination rule {{ fwd.rule }} description '{{ fwd.description }}'
set nat destination rule {{ fwd.rule }} inbound-interface name {{ fwd.interface }}
set nat destination rule {{ fwd.rule }} protocol {{ fwd.protocol }}
set nat destination rule {{ fwd.rule }} destination port {{ fwd.port }}
set nat destination rule {{ fwd.rule }} translation address {{ fwd.to }}
{% if fwd.translation_port %}
set nat destination rule {{ fwd.rule }} translation port {{ fwd.translation_port }}
{% endif %}
{% endfor %}
