# 00-dhcpd6.j2
# {{ pillar['common']['salt_managed'] }}

# Discord commit hook
# TODO: Add commit hook

# Leases from Netbox
{% for lease in salt['netbox.get_dhcp_leases']().v6 -%}
host {{ lease.host }} {
  hardware ethernet {{ lease.mac }};
  fixed-address6 {{ lease.ip }};
  option host-name "{{ lease.hostname }}";
}
{% endfor -%}