#!/usr/bin/env python3
import sys
import socket
import json
import requests

CLOUDFLARE_WEBHOOK = "{{ cloudflare_webhook }}"

def push_lease(ip, hostname, mac):
    # Set hostname to a default if it is not set.
    if not hostname:
        hostname = "N/A"

    # Post the lease to Discord if is not the same.
    requests.post(CLOUDFLARE_WEBHOOK, json={
        "ip": ip,
        "hostname": hostname,
        "mac": mac,
        "dhcp_hostname": socket.gethostname()
    }, timeout=2) 
    # We set a low timeout of 2 because dhcpd really does not like waiting too long for the script to execute.

if __name__ == "__main__":
    ip, hostname, mac = sys.argv[1:4]
    push_lease(ip, hostname, mac)