# 99-dns.j2
# {{ pillar['common']['salt_managed'] }}

{% for lease in salt['netbox.get_leases']() %}
{% if lease.address %}
address=/{{ lease.fqdn }}/{{ lease.ip }}
{% endif %}
{% if lease.ptr_record %}
ptr-record={{ lease.reverse_arpa }},{{ lease.fqdn }}
{% endif %}
{% endfor %}