{
  "kind": "Pod",
  "apiVersion": "v1",
  "metadata": {
    "name": "kube-apiserver",
    "namespace": "kube-system"
  },
  "spec": {
    "hostNetwork": true,
    "containers": [
      {
        "name": "kube-apiserver",
        "image": "{{ kube_hyperkube_image }}",
        "command": [
          "/hyperkube",
          "apiserver",
          "--allow-privileged",
          "--insecure-bind-address=0.0.0.0",
          "--bind-address=0.0.0.0",
          "--advertise-address={{ ansible_vpn0['ipv4']['address'] }},
          "--service-cluster-ip-range=10.0.0.0/16",
          "--secure-port=443",
          "--etcd-servers={{ etcd_hosts }}",
          "--tls-cert-file=/etc/kubernetes/ssl/server.crt",
          "--tls-private-key-file=/etc/kubernetes/ssl/server.key",
          "--admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,PersistentVolumeLabel,DefaultStorageClass,ResourceQuota,DefaultTolerationSeconds",
          "--client-ca-file=/etc/kubernetes/ssl/ca.crt",
          "--token-auth-file=/etc/kubernetes/known_tokens.csv",
          "--service-account-key-file=/etc/kubernetes/ssl/server.key",
          "--anonymous-auth=false"
        ],
        "ports": [
          {
            "name": "https",
            "hostPort": 443,
            "containerPort": 443
          },
          {
            "name": "local",
            "hostPort": 8080,
            "containerPort": 8080
          }
        ],
        "volumeMounts": [
          {
            "name": "etckube",
            "mountPath": "/etc/kubernetes",
            "readOnly": true
          },
          {
            "name": "etcssl",
            "mountPath": "/etc/ssl",
            "readOnly": true
          }
        ],
        "livenessProbe": {
          "httpGet": {
            "scheme": "HTTP",
            "host": "127.0.0.1",
            "port": 8080,
            "path": "/healthz"
          },
          "initialDelaySeconds": 15,
          "timeoutSeconds": 15
        }
      }
    ],
    "volumes": [
      {
        "name": "etckube",
        "hostPath": {
          "path": "/etc/kubernetes"
        },
        "readOnly": true
      },
      {
        "name": "etcssl",
        "hostPath": {
          "path": "/etc/ssl"
        }
      }
    ]
  }
}
