[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/var/lib/kubelet
ExecStart=/opt/kubernetes/server/bin/kubelet \
  --api-servers=https://{{ kube_master_ip }} \
  --kubeconfig=/var/lib/kubelet/kubeconfig \
  --pod-manifest-path=/etc/kubernetes/manifests \
  --allow-privileged=true \
  --cluster-dns={{ kube_master_ip }} \
  --cluster-domain={{ kube_cluster_name }}.local
  
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
