apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
resources:
- ../base
patches:
  - path: patch_cm_dex.yaml
    target:
      kind: ConfigMap
      name: argocd-cm
  - path: patch_argocd_lb.yaml
