- name: dns - Generate leases config
  local_action: shell python ../../projects/barf/netbox-dns.py
  delegate_to: localhost
  register: dns_output

- name: dns - Parse leases output
  set_fact:
    dns_file: "{{ dns_output.stdout }}"
