addresses {
    http = "127.0.0.1"
    rpc = "{{ public_ip }}"
    serf = "{{ public_ip }}"
}

server {
  enabled = true
  bootstrap_expect = 3

  server_join {
    retry_max = 3
    retry_interval = "15s"
  }


  default_scheduler_config {
    scheduler_algorithm = "spread"
    memory_oversubscription_enabled = true
  }
}

client {
  enabled = true
  node_class = "server"
}
