# 00-default.j2
# {{ ansible_managed }}

no-resolv

server=/catgirls.dev/ipa.generalprogramming.org/192.168.3.6
server=/catgirls.dev/ipa.generalprogramming.org/192.168.3.13
server=/catgirls.dev/ipa.generalprogramming.org/10.65.67.14
server=1.1.1.1
server=1.0.0.1
