---
- name: "Settings - Enable kernel IP forwarding for app server."
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: 1
    state: present
    reload: true
  when: "(appserver or hypervisor or ip_forward)"

- name: "Settings - Update global byobu statusrc"
  ansible.builtin.copy:
    src: byobu_status
    dest: /usr/share/byobu/status/status
    owner: root
    group: root
    mode: 0644

- name: "Settings: SSHD config"
  ansible.builtin.template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config.d/00-ansible.conf
    owner: root
    group: root
    mode: 0644

- name: "Settings: SSHD config - Restart SSHD"
  ansible.builtin.service:
    name: sshd
    state: restarted

- name: "Check if node exporter port is open"
  ansible.builtin.wait_for:
    host: "localhost"
    port: 9100
    timeout: 2
  register: node_exporter_port
  ignore_errors: true

- name: Handle node-exporter configuration
  import_tasks: node_exporter.yml
  when: node_exporter_port.failed == false
