---
- name: "Create SSH principal folder"
  ansible.builtin.file:
    path: /etc/ssh/auth_principals
    state: directory
    mode: 0755

- name: "Create SSH principal"
  ansible.builtin.copy:
    content: "admin"
    dest: "/etc/ssh/auth_principals/{{ admin_user }}"
    owner: root
    group: root
    mode: 0644
