---
- name: Remove old config files
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/salt/minion.d/00-config.conf
    - /etc/salt/minion.d/_schedule.conf
  register: _removed_configs

- name: Delete salt PKI if configs were removed
  ansible.builtin.file:
    path: /etc/salt/pki
    state: absent
  when: _removed_configs is changed

- name: Install Salt Minion package
  ansible.builtin.package:
    name: salt-minion
    state: present

- name: Template minion grains
  ansible.builtin.template:
    src: grains.j2
    dest: /etc/salt/grains
    owner: salt
    group: salt
    mode: '0600'
  notify: Restart Salt Minion

- name: Template minion configuration file
  ansible.builtin.template:
    src: salt-minion.conf.j2
    dest: /etc/salt/minion
    owner: root
    group: root
    mode: '0644'
  notify: Restart Salt Minion
