---
- name: Remove old config files
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/salt/minion.d/00-config.conf
  register: _removed_configs

- name: Delete salt PKI if configs were removed
  ansible.builtin.file:
    path: /etc/salt/pki/minion
    state: absent
  when: _removed_configs is changed

- name: Install Salt Minion package
  ansible.builtin.package:
    name: salt-minion
    state: present

- name: Template minion grains
  ansible.builtin.template:
    src: grains.j2
    dest: /etc/salt/grains
    owner: salt
    group: salt
    mode: '0600'
  notify: Restart Salt Minion

- name: Template minion configuration file
  ansible.builtin.template:
    src: salt-minion.conf.j2
    dest: /etc/salt/minion
    owner: root
    group: root
    mode: '0644'
  notify: Restart Salt Minion

- name: Ensure systemd override directory exists
  ansible.builtin.file:
    path: /etc/systemd/system/salt-minion.service.d
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Template minion systemd override
  ansible.builtin.template:
    src: minion-override.service.j2
    dest: /etc/systemd/system/salt-minion.service.d/override.conf
    owner: root
    group: root
    mode: '0644'
  notify:
    - Reload Systemd
    - Restart Salt Minion

- name: Install salt minion pip deps
  ansible.builtin.command:
    cmd: salt-pip install {{ item }}
  loop:
    - saltext-vault
  notify: Restart Salt Minion
