# {{ pillar['common']['salt_managed'] }}
AuthorizedPrincipalsFile /etc/ssh/auth_principals/%u
ChallengeResponseAuthentication no
# PasswordAuthentication no
TrustedUserCAKeys /etc/ssh/vault_ssh_ca.pub
