[Unit]
Description=consul-template
Requires=network-online.target
After=network-online.target vault-agent.service

[Service]
KillSignal=SIGINT
Restart=always
ExecStart=/usr/bin/consul-template -config=/etc/consul-template/config

[Install]
WantedBy=multi-user.target
