set system host-name {{ device.hostname }}
set system domain-name {{ global_meta.search_domain }}
set system login user vyos authentication plaintext-password {{ secrets.password }}
set service snmp community '{{ global_meta.snmp_public }}' authorization ro
set service snmp location '{{ device.snmp_location }}'
set service snmp contact '{{ global_meta.snmp_contact }}'

{% for interface in device.dhcp_interfaces %}
set interfaces ethernet {{ interface.name }} vif {{ interface.vlan }} address dhcp
{%- endfor -%}
