{% include 'common/vyos.j2' %}

set vpn ipsec esp-group ESP_DEFAULT compression 'disable'
set vpn ipsec esp-group ESP_DEFAULT lifetime '3600'
set vpn ipsec esp-group ESP_DEFAULT mode 'tunnel'
set vpn ipsec esp-group ESP_DEFAULT pfs enable
set vpn ipsec esp-group ESP_DEFAULT proposal 1 encryption 'aes256'
set vpn ipsec esp-group ESP_DEFAULT proposal 1 hash 'sha256'

set vpn ipsec ike-group IKEv2_DEFAULT ikev2-reauth 'no'
set vpn ipsec ike-group IKEv2_DEFAULT key-exchange 'ikev2'
set vpn ipsec ike-group IKEv2_DEFAULT lifetime 28800
set vpn ipsec ike-group IKEv2_DEFAULT mobike 'disable'
set vpn ipsec ike-group IKEv2_DEFAULT proposal 1 dh-group 5
set vpn ipsec ike-group IKEv2_DEFAULT proposal 1 encryption aes256
set vpn ipsec ike-group IKEv2_DEFAULT proposal 1 hash sha256

set vpn ipsec interface eth0

{% for link in vpn_links %}
    {%- if link.side_a == device -%}
        {%- set our_side = link.side_a -%}
        {%- set other_peer = link.side_b -%}
    {%- else -%}
        {%- set our_side = link.side_b -%}
        {%- set other_peer = link.side_a -%}
    {%- endif -%}
    {# ipsec links#}
    {% if link.ipsec %}
        {%- set interface_name = "vti" ~ link.link_id -%}
        {%- set peer_name = "peer_" ~ other_peer.address.replace(".", "-") -%}
set interfaces vti {{ interface_name }} address '{{ link.get_ip(our_side) }}/31'

set vpn ipsec authentication psk {{ peer_name }} id '{{ our_side.address }}'
set vpn ipsec authentication psk {{ peer_name }} id '{{ other_peer.address }}'
set vpn ipsec authentication psk {{ peer_name }} id any
set vpn ipsec authentication psk {{ peer_name }} secret '{{ secrets[link.secret] }}'

set vpn ipsec site-to-site peer {{ peer_name }} description '{{ link.side_a.hostname }} -> {{ link.side_b.hostname }}'
set vpn ipsec site-to-site peer {{ peer_name }} authentication local-id '{{ our_side.address }}'
set vpn ipsec site-to-site peer {{ peer_name }} authentication mode 'pre-shared-secret'
set vpn ipsec site-to-site peer {{ peer_name }} connection-type initiate
set vpn ipsec site-to-site peer {{ peer_name }} default-esp-group 'ESP_DEFAULT'
set vpn ipsec site-to-site peer {{ peer_name }} ike-group 'IKEv2_DEFAULT'
set vpn ipsec site-to-site peer {{ peer_name }} local-address any
set vpn ipsec site-to-site peer {{ peer_name }} remote-address '{{ other_peer.address }}'
set vpn ipsec site-to-site peer {{ peer_name }} vti bind '{{ interface_name }}'
    {% else %}
    {# wireguard links #}
        {%- set interface_name = "wg" ~ link.link_id -%}
        {%- set port = link.link_id -%}
set interfaces wireguard {{ interface_name }} description 'wg link ({{ link.side_a.hostname }} -> {{ link.side_b.hostname }})'
{% if not link.unnumbered %}
set interfaces wireguard {{ interface_name }} address {{ link.get_ip(our_side, with_netmask=True) }}
{% endif %}
set interfaces wireguard {{ interface_name }} private-key '{{ our_side.wg_privkey(port) }}'
set interfaces wireguard {{ interface_name }} port {{ port }}
set interfaces wireguard {{ interface_name }} peer {{ other_peer.hostname }} public-key '{{ other_peer.wg_pubkey(port) }}'
set interfaces wireguard {{ interface_name }} peer {{ other_peer.hostname }} allowed-ips 0.0.0.0/0
set interfaces wireguard {{ interface_name }} peer {{ other_peer.hostname }} allowed-ips ::/0
        {% if other_peer.address %}
set interfaces wireguard {{ interface_name }} peer {{ other_peer.hostname }} address {{ other_peer.ip6_address }}
set interfaces wireguard {{ interface_name }} peer {{ other_peer.hostname }} port {{ port }}
set interfaces wireguard {{ interface_name }} peer {{ other_peer.hostname }} persistent-keepalive 10
        {% endif %}
    {% endif %}

{% if link.unnumbered %}
set protocols bgp neighbor {{ interface_name }} description '{{ other_peer.hostname }}'
set protocols bgp neighbor {{ interface_name }} update-source {{ device.management_address.ip }}
set protocols bgp neighbor {{ interface_name }} interface peer-group fabric
set protocols bgp neighbor {{ interface_name }} interface v6only peer-group fabric
set protocols bgp neighbor {{ interface_name }} interface v6only remote-as external
    {% if other_peer.can_bfd %}
set protocols bgp neighbor {{ interface_name }} bfd
    {% endif %}
{% else %}
set protocols bgp neighbor {{ link.get_ip(other_peer) }} description '{{ other_peer.hostname }}'
set protocols bgp neighbor {{ link.get_ip(other_peer) }} remote-as external
set protocols bgp neighbor {{ link.get_ip(other_peer) }} update-source {{ device.management_address.ip }}
set protocols bgp neighbor {{ link.get_ip(other_peer) }} peer-group fabric
    {% if other_peer.can_bfd %}
set protocols bgp neighbor {{ link.get_ip(other_peer) }} bfd
    {% endif %}
{% endif %}
{% endfor -%}

{% for network in device.networks %}
set protocols bgp address-family ipv4-unicast network {{ network }}
{% endfor -%}
{% if ":" in device.management_address.with_prefixlen %}
set protocols bgp address-family ipv6-unicast network {{ device.management_address }}
{% elif device.management_address %}
set protocols bgp address-family ipv4-unicast network {{ device.management_address }}
{% endif %}

set protocols bgp system-as '{{ device.asn }}'
set protocols bgp peer-group fabric address-family ipv4-unicast
set protocols bgp peer-group fabric address-family ipv6-unicast
set protocols bgp peer-group fabric capability extended-nexthop
set protocols bgp timers keepalive 10
set protocols bgp timers holdtime 30

{% include 'common/all_suffix.j2' %}
