{% include 'common/vyos.j2' %}

set vpn ipsec esp-group ESP_DEFAULT compression 'disable'
set vpn ipsec esp-group ESP_DEFAULT lifetime '3600'
set vpn ipsec esp-group ESP_DEFAULT mode 'tunnel'
set vpn ipsec esp-group ESP_DEFAULT pfs enable
set vpn ipsec esp-group ESP_DEFAULT proposal 1 encryption 'aes256'
set vpn ipsec esp-group ESP_DEFAULT proposal 1 hash 'sha256'

set vpn ipsec ike-group IKEv2_DEFAULT ikev2-reauth 'no'
set vpn ipsec ike-group IKEv2_DEFAULT key-exchange 'ikev2'
set vpn ipsec ike-group IKEv2_DEFAULT lifetime 28800
set vpn ipsec ike-group IKEv2_DEFAULT mobike 'disable'
set vpn ipsec ike-group IKEv2_DEFAULT proposal 1 dh-group 5
set vpn ipsec ike-group IKEv2_DEFAULT proposal 1 encryption aes256
set vpn ipsec ike-group IKEv2_DEFAULT proposal 1 hash sha256

set vpn ipsec interface eth0

{% for link in vpn_links %}
    {%- if link.side_a == device -%}
        {%- set our_side = link.side_a -%}
        {%- set other_peer = link.side_b -%}
    {%- else -%}
        {%- set our_side = link.side_b -%}
        {%- set other_peer = link.side_a -%}
    {%- endif -%}
    {# ipsec links#}
    {% if link.ipsec %}
        {%- set interface_name = "vti" ~ link.link_id -%}
set interfaces vti {{ interface_name }} address '{{ link.get_ip(our_side) }}/31'
set vpn ipsec site-to-site peer {{ other_peer.address }} authentication id '{{ our_side.address }}'
set vpn ipsec site-to-site peer {{ other_peer.address }} authentication mode 'pre-shared-secret'
set vpn ipsec site-to-site peer {{ other_peer.address }} authentication pre-shared-secret '{{ secrets[link.secret] }}'
set vpn ipsec site-to-site peer {{ other_peer.address }} connection-type initiate
set vpn ipsec site-to-site peer {{ other_peer.address }} default-esp-group 'ESP_DEFAULT'
set vpn ipsec site-to-site peer {{ other_peer.address }} ike-group 'IKEv2_DEFAULT'
set vpn ipsec site-to-site peer {{ other_peer.address }} local-address any
set vpn ipsec site-to-site peer {{ other_peer.address }} vti bind '{{ interface_name }}'
    {% else %}
    {# wireguard links #}
        {%- set interface_name = "wg" ~ link.link_id -%}
        {%- set port = link.link_id -%}
set interfaces wireguard {{ interface_name }} description '{{ link.side_a.hostname }} -> {{ link.side_b.hostname }}'
set interfaces wireguard {{ interface_name }} address {{ link.get_ip(our_side) }}/31
set interfaces wireguard {{ interface_name }} private-key '{{ our_side.wg_privkey(port) }}'
set interfaces wireguard {{ interface_name }} port {{ port }}
set interfaces wireguard {{ interface_name }} peer {{ other_peer.hostname }} public-key '{{ other_peer.wg_pubkey(port) }}'
set interfaces wireguard {{ interface_name }} peer {{ other_peer.hostname }} allowed-ips 0.0.0.0/0
        {% if other_peer.address %}
set interfaces wireguard {{ interface_name }} peer {{ other_peer.hostname }} address {{ other_peer.address }}
set interfaces wireguard {{ interface_name }} peer {{ other_peer.hostname }} port {{ port }}
set interfaces wireguard {{ interface_name }} peer {{ other_peer.hostname }} persistent-keepalive 10
        {% endif %}
    {% endif %}

set protocols bgp neighbor {{ link.get_ip(other_peer) }} remote-as {{ other_peer.asn }}
set protocols bgp neighbor {{ link.get_ip(other_peer) }} update-source {{ interface_name }}
    {% if other_peer.is_spine %}
set protocols bgp neighbor {{ link.get_ip(other_peer) }} peer-group spine
    {% else %}
set protocols bgp neighbor {{ link.get_ip(other_peer) }} peer-group leaf
    {% endif %}
    {% if other_peer.can_bfd %}
set protocols bgp neighbor {{ link.get_ip(other_peer) }} bfd
    {% endif %}
{% endfor -%}

{% for network in device.networks %}
set protocols bgp address-family ipv4-unicast network {{ network }}
{% endfor -%}

set protocols bgp local-as '{{ device.asn }}'
set protocols bgp peer-group leaf address-family ipv4-unicast
set protocols bgp peer-group leaf ebgp-multihop '6'
set protocols bgp peer-group spine address-family ipv4-unicast
set protocols bgp peer-group spine ebgp-multihop '6'
set protocols bgp timers keepalive 10
set protocols bgp timers holdtime 30

{% include 'common/all_suffix.j2' %}
